@media screen and (min-aspect-ratio: 4/3) {
  .addclientcontainer {
    animation-play-state: paused;
    position: fixed;
    border-left: 2px solid black;
    visibility: hidden;
    overflow-x: hidden;
    width: 0;
    top: 0;
    right: 0;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #006DF0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @keyframes appearAnimation {
    from {
      visibility: hidden;
      width: 0;
    }
    to {
      visibility: visible;
      width: 250px;
    }
  }

  @keyframes disappearAnimation {
    from {
      visibility: visible;
      width: 250px;
    }
    to {
      visibility: hidden;
      width: 0;
    }
  }

  .appear {
    animation: appearAnimation 0.2s linear 0s forwards;
  }

  .disappear {
    animation: disappearAnimation 0.2s linear 0s forwards;
  }

  .addclientform {
    color: white;
    padding: 16px 16px 16px 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .addclientfield {
    margin-top: 8px;
    font-size: 15pt;
    padding: 8px 16px 8px 16px;
  }

  .addclientbutton {
    color: #006DF0;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: #91DC5A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .addclientbutton:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}

@media screen and (max-aspect-ratio: 4/3) {
  .addclientcontainer {
    position: fixed;
    right: 20%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .addclientform {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .addclientfield {
    font-size: 15pt;
    padding: 8px 16px 8px 16px;
  }

  .addclientbutton {
    height: 32px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-aspect-ratio: 1/1), (orientation: portrait) {
  .addclientcontainer {
    position: fixed;
    right: 20%;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .addclientform {
    padding: 16px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .addclientfield {
    font-size: 15pt;
    padding: 8px 16px 8px 16px;
  }

  .addclientbutton {
    height: 32px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
