@media screen and (min-aspect-ratio: 4/3) {
  .clientlistpage {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 16px;
    height: auto;
  }
}

@media screen and (max-width: 1230px) {
  .clientlistpage {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 16px;
    height: auto;
  }
}
