@media screen and (min-width: 900px) {
  .clientcell {
    color: #006DF0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 90%;
    margin-bottom: 16px;
    padding: 16px 16px 16px 16px;
    border: 2px solid #006DF0;
    background-color: white;
  }

  .title {
    font-size: 18pt;
    font-family: 'Montserrat', sans-serif;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clientcell:hover {
    background-color: #006DF0;
    color: white;
    cursor: pointer;
  }

  .clientcell:last-child {
    margin-bottom: 16px;
  }

  .infoandbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
  }

  .deletebox {
    margin-top: 16px;
    padding: 8px 32px 8px 32px;
    background-color: #006DF0;
    color: white;
    border: 2px solid white;
  }

  .deletebox:hover {
    background-color: #91DC5A;
    color: #006DF0;
  }
}


@media screen and (max-width: 900px) {
  .clientcell {
    color: #006DF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 70%;
    margin-bottom: 16px;
    padding: 16px 16px 16px 16px;
    border: 2px solid #006DF0;
    background-color: white;
  }

  .title {
    font-size: 11pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 9pt;
  }

  .clientcell:hover {
    background-color: #006DF0;
    color: white;
    cursor: pointer;
  }

  .clientcell:last-child {
    margin-bottom: 16px;
  }

  .deletebox {
    margin-top: 16px;
    padding: 8px 16px 8px 16px;
    background-color: #006DF0;
    color: white;
    border: 2px solid white;
  }

  .deletebox:hover {
    background-color: #91DC5A;
    color: #006DF0;
  }
}

.green {
  background-color: #91DC5A;
  color: #006DF0;
}
