@media screen and (min-width: 1230px) {
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
    padding-top: 16px;
    background-color: #91DC5A;
    border-right: 2px solid white;
    box-shadow: 5px 0px 8px #888888;
  }

  .icon {
    height: 30px;
    margin-right: 16px;
    fill: green;
  }

  .menuIconLan {
    height: 80px;
  }

  .menulinks {
    background-color: grey;
    margin-top: 24px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .link {
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
    color: white;
    font-size: 14pt;
    height: 56px;
    width: 100%;
    padding-left: 24px;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-top: 0px;
    border-bottom: 2px solid white;
  }

  .link:first-child {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }

  .blue {
    background-color: #006DF0;
  }

  .link:hover{
    background-color: #006DF0;
  }
}

@media screen and (max-width: 1230px) {
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    height: 100%;
    padding-top: 16px;
    background-color: #91DC5A;
    border-right: 2px solid white;
    box-shadow: 5px 0px 8px #888888;
  }

  .icon {
    height: 30px;
    margin-right: 0px;
    fill: green;
  }

  .menutitle {
    visibility: collapse;
    width: 0;
  }

  .menuIconLan {
    height: 40px;
  }

  .menulinks {
    background-color: grey;
    margin-top: 24px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  .link {
    font-family: 'Montserrat', sans-serif;
    background-color: grey;
    color: white;
    font-size: 0pt;
    height: 56px;
    width: 100%;
    padding-left: 0;
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0px;
    border-bottom: 2px solid white;
  }

  .link:first-child {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }

  .blue {
    background-color: #006DF0;
  }

  .link:hover{
    background-color: #006DF0;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    z-index: 10;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 0px #888888;
    border-bottom: 2px solid white;
  }

  .imgIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
  }

  .menuLinks {
    font-family: 'Montserrat', sans-serif;
    display: none;
    visibility: collapse;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .menuIconPor1 {
    height: 6vh;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .menuIconPor2 {
    height: 3.5vh;
    margin-left: 16px;
    transform: scale(1);
    transition: transform 0.2s;
  }

  .menuIconPor2:hover {
    cursor: pointer;
    transform: scale(1.35);
    transition: transform 0.2s;
  }
}
